<a ui-sref="newPublisher" class="btn-primary btn-lg nodecoration" ng-controller="ServiceController">Add New Publisher</a>

<table class="table publishertable">
    <tr>
        <td><h3>All Publishers</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="publisher in publishers">
        <td>{{publisher.name}}</td>
        <td>
            <!--a class="btn btn-primary" ui-sref="viewMovie({id:movie._id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a-->
        </td>
    </tr>
</table>