logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/conf/db-dev.conf
/conf/db-prod.conf
/conf/smartfile-prod.conf
/conf/smartfile-dev.conf
/conf/email.conf
/conf/generated.keystore
.DS_Store
.sbtserver
.sbtserver.lock
app-2.11/
project/project/
test-2.11/
