<div>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>

        <legend>Search</legend>

        <form>
            <div>
                <label for="collection">Collection</label>

                <div>
                    <input id="collection" name="collection" type="text" ng-model="manga.collection"
                           placeholder="Collection's name">
                </div>
            </div>
            <div>
                <label for="name">Name</label>

                <div>
                    <input id="name" name="name" type="text" ng-model="manga.name"
                           placeholder="Manga's name">
                </div>
            </div>
        </form>
    </fieldset>

    <fieldset>
        <legend>Mangas</legend>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Collection</th>
                <th>Number</th>
                <th>Do I have it?</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.collection}}</td>
                <td>{{item.number}}</td>
                <td>{{item.doIHaveIt ? 'Yes' : 'No'}}</td>
                <td>
                    <button ng-click="openRemoveDialog(item)"
                            id="btn_delete">Remove
                    </button>
                    <a ng-href="/views/manga/{{item.id}}/edit"
                       id="btn_update">Edit</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                                    class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true"
                                    rotate="false" num-pages="numPages" ng-change="pageChanged()">
                    </uib-pagination>
                </td>
            </tr>
            <tr>
                <td><span>Total of {{bigTotalItems}} mangas</span></td>
            </tr>
            </tfoot>
        </table>
    </fieldset>
</div>