<div>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>

        <legend>{{legend}}</legend>

        <form id="mangaForm" name="mangaForm">
            <input type="hidden" name="id" ng-model="manga.id">

            <div>
                <label for="collection">Collection</label>

                <div>
                    <input id="collection" name="collection" type="text" ng-model="manga.collection"
                           placeholder="Collection's name" required
                           uib-typeahead="collection for collection in getCollections($viewValue)"
                           typeahead-loading="loadingCollections" typeahead-no-results="noResults"
                    >
                    <i ng-show="loadingCollections" class="glyphicon glyphicon-refresh"></i>

                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                    <span data-ng-show="mangaForm.collection.$invalid">Please enter a valid name</span>
                </div>
            </div>

            <div>
                <label for="name">Name</label>

                <div>
                    <input id="name" name="name" type="text" ng-model="manga.name"
                           placeholder="Manga's name" required
                           pattern=".{2,}" title="Please type at least 2 characters">
                    <span data-ng-show="mangaForm.name.$invalid">Please enter a valid name</span>
                </div>
            </div>

            <div>
                <label for="number">Number</label>

                <div>
                    <input id="number" name="number" type="number" ng-model="manga.number"
                           placeholder="Manga's number" required
                           title="Please type at least 2 characters">
                    <span data-ng-show="mangaForm.number.$invalid">Please enter a valid number</span>
                </div>
            </div>

            <div>
                <label for="doIHaveIt">Do I have it?</label>

                <div>
                    <input id="doIHaveIt" name="doIHaveIt" type="checkbox"
                           ng-model="manga.doIHaveIt" ng-true-value="true" ng-false-value="false">
                </div>
            </div>

            <div>
                <label for="cover">Cover</label>

                <div>
                    <input id="cover" type="file" ngf-select ng-model="cover" name="cover"
                           accept="image/*" ngf-max-size="2MB" required>
                </div>
                <button ng-disabled="!mangaForm.$valid" ng-click="uploadCover(cover, manga)">Submit</button>
            </div>


            <div>
                <button id="submit" name="submit" ng-click="save(manga)">
                    Save
                </button>
                <button id="reset" name="reset" ng-click="reset()">Reset</button>
            </div>
        </form>
    </fieldset>
</div>