<div class="col-sm-12">

    <fieldset>

        <legend>
            <h3>
                <small>Search</small>
            </h3>
        </legend>

        <form id="mangasForm" name="mangasForm" class="form-horizontal">
            <div class="form-group">
                <label for="collection" class="col-sm-2 control-label">Collection</label>

                <div class="col-sm-3">
                    <input id="collection" name="collection" type="text" data-ng-model="manga.collection"
                           placeholder="Collection's name" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-3">
                    <input id="name" name="name" type="text" data-ng-model="manga.name"
                           placeholder="Manga's name" class="form-control">
                </div>
            </div>
        </form>
    </fieldset>

    <fieldset>
        <legend>
            <h3>
                <small>Mangas</small>
            </h3>
        </legend>
        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th class="text-center">Collection</th>
                <th class="text-center">Name</th>
                <th class="text-center">Number</th>
                <th class="text-center">Do I have it?</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr data-ng-repeat="manga in mangas">
                <td>{{manga.collection}}</td>
                <td>{{manga.name}}</td>
                <td>{{manga.number}}</td>
                <td>
                    <a role="button" href="#" data-ng-click="updateOwnership(manga)">
                        <span class="glyphicon glyphicon-{{manga.doIHaveIt ? 'ok green-glyphicon' : 'remove red-glyphicon'}}"></span>
                    </a>
                </td>
                <td>
                    <a data-ng-href="/views/manga/{{manga.id}}/edit" id="update" class="btn btn-primary">
                        Edit
                    </a>
                    <button data-ng-click="openRemoveDialog(manga)" id="delete" class="btn btn-warning">
                        Remove
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="text-center">
                        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                                        class="pagination" items-per-page="itemsPerPage" boundary-links="true"
                                        rotate="false" num-pages="numPages" ng-change="pageChanged()">
                        </uib-pagination>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-center">
                    <span>Total of {{bigTotalItems}} mangas</span>
                </td>
            </tr>
            </tfoot>
        </table>
    </fieldset>
</div>