<div class="col-sm-12">

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>
        <legend><h3><small>Search</small></h3></legend>
        <form id="mangasDeckForm" name="mangasDeckForm" class="form-horizontal">
            <div class="form-group form-group-lg">
                <label for="collection" class="col-sm-2 control-label">Collection</label>

                <div class="col-sm-3">
                    <input id="collection" class="form-control input-lg" name="collection" type="text" data-ng-model="collection"
                           placeholder="Collection's name">
                </div>
            </div>
        </form>
    </fieldset>

    <fieldset>
        <legend><h3><small>Latest Publications</small></h3></legend>

        <div>
            <div deckgrid class="deckgrid" cardTemplate="/partials/mangas/templates/card_deck.html"
                 source="mangas">
            </div>
        </div>
    </fieldset>
    <div class="text-center">
        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                        class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true"
                        rotate="false" num-pages="numPages" ng-change="pageChanged()">
        </uib-pagination>
    </div>
</div>