.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.container-pos {
    top: 53px;
    position: relative;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}