<div class="col-sm-12">

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>

        <legend>
            <h3>
                <small>Search</small>
            </h3>
        </legend>

        <form id="collectionsForm" name="collectionsForm" class="form-horizontal">
            <div class="form-group">
                <label for="publisher" class="col-sm-2 control-label">Publisher</label>

                <div class="col-sm-3">
                    <input id="publisher" name="publisher" type="text" data-ng-model="collection.publisher"
                           placeholder="Publisher's name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="collection" class="col-sm-2 control-label">Collection</label>

                <div class="col-sm-3">
                    <input id="collection" name="collection" type="text" data-ng-model="collection.name"
                           placeholder="Collection's name" class="form-control">
                </div>
            </div>

        </form>
    </fieldset>

    <fieldset>
        <legend>
            <h3>
                <small>Collections</small>
            </h3>
        </legend>

        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Publisher</th>
                <th class="text-center">Is Complete?</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr data-ng-repeat="collection in collections">
                <td>{{collection.name}}</td>
                <td>{{collection.publisher}}</td>
                <td width="15%">{{collection.isComplete ? 'Yes' : 'No'}}</td>
                <td width="20%">
                    <a data-ng-href="/views/collection/{{collection.id}}/edit" id="update" class="btn btn-primary">
                        Edit
                    </a>
                    <button data-ng-click="openRemoveDialog(collection)" id="delete" class="btn btn-warning">
                        Remove
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <div class="text-center">
                    <td colspan="4">
                        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                                        class="pagination" items-per-page="itemsPerPage" boundary-links="true"
                                        rotate="false" num-pages="numPages" ng-change="pageChanged()">
                        </uib-pagination>
                    </td>
                </div>
            </tr>
            </tfoot>
        </table>
    </fieldset>
</div>