<div>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>

        <legend>Search:</legend>

        <form>
            <div>
                <label for="name">Name</label>

                <div>
                    <input id="name" name="name" type="text" ng-model="name"
                           placeholder="Publisher's name">
                </div>
            </div>

        </form>
    </fieldset>

    <fieldset>
        <legend>Publishers</legend>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>
                    <button ng-click="openRemoveDialog(item)"
                            id="btn_delete">Remove
                    </button>
                    <a ng-href="/views/publisher/{{item.id}}/edit"
                       id="btn_update">Edit</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                                    class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true"
                                    rotate="false" num-pages="numPages" ng-change="pageChanged()">
                    </uib-pagination>
                </td>
            </tr>
            </tfoot>
        </table>

    </fieldset>
</div>
