<div class="col-sm-12">

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>

        <legend>
            <h3>
                <small>{{legend}}</small>
            </h3>
        </legend>

        <form id="publisherForm" name="publisherForm" class="form-horizontal">
            <input type="hidden" name="id" data-ng-model="publisher.id">

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-3">
                    <input id="name" name="name" type="text" data-ng-model="publisher.name"
                           class="form-control" placeholder="Publisher's name"
                           required pattern=".{2,}" title="Please type at least 2 characters">
                    <span data-ng-show="publisherForm.name.$invalid"><small>Please enter a valid name</small></span>
                </div>
            </div>

            <div class="form-group">
                <label for="submit" class="col-sm-3 control-label"></label>

                <div class="col-md-6">
                    <button id="submit" name="submit" data-ng-click="save(publisher)" class="btn btn-primary">
                        Submit
                    </button>
                    <button id="reset" name="reset" data-ng-click="reset()" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>