<div class="col-sm-12">

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>

        <legend>
            <h3>
                <small>Search</small>
            </h3>
        </legend>

        <form id="publishersForm" name="publishersForm" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-3">
                    <input id="name" name="name" type="text" data-ng-model="name"
                           placeholder="Publisher's name" class="form-control">
                </div>
            </div>

        </form>
    </fieldset>

    <fieldset>
        <legend>
            <h3>
                <small>Publishers</small>
            </h3>
        </legend>

        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr data-ng-repeat="publisher in publishers">
                <td width="70%">{{publisher.name}}</td>
                <td width="30%">
                    <a id="update" data-ng-href="/views/publisher/{{publisher.id}}/edit" class="btn btn-primary">
                        Edit
                    </a>
                    <button id="delete" class="btn btn-warning" data-ng-click="openRemoveDialog(publisher)">
                        Remove
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <div class="text-center">
                        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                                        class="pagination" items-per-page="itemsPerPage" boundary-links="true"
                                        rotate="false" num-pages="numPages" ng-change="pageChanged()">
                        </uib-pagination>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

    </fieldset>
</div>
