<div>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <fieldset>

        <legend>{{legend}}</legend>

        <form id="publisherForm" name="publisherForm">
            <input type="hidden" name="id" ng-model="publisher.id">

            <div>
                <label for="name">Name</label>

                <div>
                    <input id="name" name="name" type="text" ng-model="publisher.name"
                           placeholder="Publisher's name" required
                           pattern=".{2,}" title="Please type at least 2 characters">
                    <span data-ng-show="publisherForm.name.$invalid">Please enter a valid name</span>
                </div>
            </div>

            <div>
                <button id="submit" name="submit" ng-click="save(publisher)">
                    Save
                </button>
                <button id="reset" name="reset" ng-click="reset()">Reset</button>
            </div>
        </form>
    </fieldset>
</div>